{{- $authtype := .Values.authtype | lower }}
{{- $resourceNamePrefix := .Values.global.resourceNamePrefix }}
{{- $kubernetesClusterName := (include "logan.kubernetesClusterName" .) }}
{{- $kubernetesClusterId := (include "logan.kubernetesClusterId" .) }}
{{- $kubernetesNamespace := (include "logan.namespace" .) }}
{{- $serviceAccount := (include "logan.serviceAccount" .) }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.global.resourceNamePrefix }}-discovery
  namespace: {{ $kubernetesNamespace }}
spec:
  schedule: {{ .Values.k8sDiscovery.objects.cronSchedule | quote }}
  startingDeadlineSeconds: 120
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          serviceAccountName: {{ $serviceAccount }}
          containers:
          - name: k8-discovery-job
            image: {{ .Values.image.url }}
            {{- if eq $authtype "config" }}
            volumeMounts:
            - name: ociconfigdir
              mountPath: {{ .Values.oci.path }}
              readOnly: true
            {{- end }}
            command:
            {{- /* object discovery script */}}
              - oci-logan-oke-resources-discovery
            {{- /* mandatory inputs */}}
              - --kubernetes_cluster_id
              - {{ $kubernetesClusterId }}
              - --kubernetes_cluster_name
              - {{ $kubernetesClusterName }}
              - --oci_la_namespace
              - {{ .Values.ociLANamespace }}
              - --kubernetes_cluster_namespace
              - {{ $kubernetesNamespace }}
            {{- /* mandatory inputs when authtype is set as config */}}
            {{- if eq .Values.authtype "config" }}
            {{- if and .Values.oci.path .Values.oci.file }}
              - --config_file_location
              - {{ .Values.oci.path -}}/{{ .Values.oci.file }}
            {{- else }}
                {{- required "missing config file. {{ .Values.oci.path -}}/{{ .Values.oci.file }}" .Values.oci.path }}
            {{- end }}
            {{- end }}
            {{- /* optional discovery job configuration */}}
            {{- if .Values.ociLAClusterEntityID }}
              - --oci_la_cluster_entity_id
              - {{ .Values.ociLAClusterEntityID  }}
              {{- end }}
            {{- if .Values.k8sDiscovery.objects.discoveryMode }}
              - --discovery
              - {{ .Values.k8sDiscovery.objects.discoveryMode }}
            {{- end }}
            {{- if .Values.k8sDiscovery.objects.log_format }}
              - --log_format
              - {{ .Values.k8sDiscovery.objects.log_format }}
            {{- end }}                
            {{- if .Values.k8sDiscovery.objects.log_level }}
              - --log_level
              - {{ .Values.k8sDiscovery.objects.log_level }}
            {{- end }}
            {{- if .Values.k8sDiscovery.objects.enable_threading }}
              - --enable_threading
            {{- end }}
            {{- if .Values.k8sDiscovery.objects.thread_count }}
              - --thread_count
              - {{ .Values.k8sDiscovery.objects.thread_count }}
            {{- end }}
            {{- /* optional kubernetes cluster configuration */}}
            {{- if .Values.k8sDiscovery.kubeClientOptions.kubernetes_url }}
              - --kubernetes_url
              - {{ .Values.k8sDiscovery.kubeClientOptions.kubernetes_url }}
            {{- end }}
            {{- if .Values.k8sDiscovery.kubeClientOptions.client_cert }}
              - --client_cert
              - {{ .Values.k8sDiscovery.kubeClientOptions.client_cert }}
            {{- end }}
            {{- if .Values.k8sDiscovery.kubeClientOptions.client_key }}
              - --client_key
              - {{ .Values.k8sDiscovery.kubeClientOptions.client_key }}
            {{- end }}
            {{- if .Values.k8sDiscovery.kubeClientOptions.ca_file }}
              - --ca_file
              - {{ .Values.k8sDiscovery.kubeClientOptions.ca_file }}
            {{- end }}
            {{- if eq .Values.k8sDiscovery.kubeClientOptions.verify_ssl true }}
              - --verify_ssl
            {{- end }}
            {{- if .Values.k8sDiscovery.kubeClientOptions.bearer_token_file }}
              - --bearer_token_file
              - {{ .Values.k8sDiscovery.kubeClientOptions.bearer_token_file }}
            {{- end }}
            {{- if .Values.k8sDiscovery.kubeClientOptions.secret_dir }}
              - --secret_dir
              - {{ .Values.k8sDiscovery.kubeClientOptions.secret_dir }}
            {{- end }}
            {{- /* developer options - optional */}}
            {{- if .Values.k8sDiscovery.oci_la_endpoint }}
              - --endpoint
              - {{ .Values.k8sDiscovery.oci_la_endpoint }}
            {{- else if .Values.ociLAEndpoint }}
              - --endpoint
              - {{ .Values.ociLAEndpoint }}
            {{- end }}
          {{- if eq $authtype "config" }}
          volumes:
          - name: ociconfigdir
            projected:
              sources:
              - secret:
                  name: {{ $resourceNamePrefix }}-oci-config
          {{- end }}