# Copyright (c) 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v1.0 as shown at https://oss.oracle.com/licenses/upl.

---
{{- $enableEKSCPLogs := .Values.enableEKSControlPlaneLogs }}
{{- $authtype := .Values.authtype | lower }}
{{- $imagePullSecrets := .Values.image.imagePullSecrets }}
{{- $resourceNamePrefix := (include "logan.resourceNamePrefix" .) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $resourceNamePrefix }}-logan
  namespace: {{ include "logan.namespace" . }}
  labels:
    app: {{ $resourceNamePrefix }}-logan
    version: v1
spec:
  selector:
    matchLabels:
      app: {{ $resourceNamePrefix }}-logan
      version: v1
  template:
    metadata:
      annotations:
        {{- if eq $authtype "config" }}
        checksum/secrets: {{ include (print $.Template.BasePath "/oci-config-secret.yaml") . | sha256sum }}
        {{- end}}
        {{- if $enableEKSCPLogs }}
        checksum/ekscpconfigmap: {{ include (print $.Template.BasePath "/ekscp-logs-configmap.yaml") . | sha256sum }}
        {{- end}}
      labels:
        app: {{ $resourceNamePrefix }}-logan
        version: v1
    spec:
      serviceAccountName: {{ include "logan.serviceAccount" . }}
      {{- if $imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.image.imagePullSecrets }}
      {{- end}}
      containers:
      {{- if $enableEKSCPLogs }}
      - name: {{ $resourceNamePrefix }}-ekscp-fluentd
        image: {{ .Values.image.url }}
        imagePullPolicy: {{ default "IfNotPresent" .Values.image.imagePullPolicy }}
        env:
          - name: FLUENTD_CONF
            value: {{ .Values.fluentd.path }}/{{ .Values.fluentd.file }}
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: FLUENT_OCI_DEFAULT_LOGGROUP_ID
            value: {{ .Values.ociLALogGroupID }}
          - name: FLUENT_OCI_NAMESPACE
            value: {{ .Values.ociLANamespace }}
          - name: FLUENT_OCI_KUBERNETES_CLUSTER_ID
            value: {{ include "logan.kubernetesClusterId" . }}
          - name: FLUENT_OCI_KUBERNETES_CLUSTER_NAME
            value: {{ include "logan.kubernetesClusterName" . }}
          {{- if eq $authtype "config" }}
          - name: FLUENT_OCI_CONFIG_LOCATION
            value: {{ .Values.oci.path }}/{{ .Values.oci.file }}
          {{- end }}
          {{- if .Values.extraEnv }}
          {{- toYaml .Values.extraEnv | nindent 10 }}
          {{- end }}
        {{- if .Values.resources }}
        resources: {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        # RW mount to store tail plugin output plugin buffer and logs
        - name: basedir
          mountPath: {{ .Values.fluentd.baseDir }}
        {{- if eq $authtype "config" }}
        # Mount directory where oci config exists
        - name: ociconfigdir
          mountPath: {{ .Values.oci.path }}
          readOnly: true
        {{- end }}
        # Mount directory where fluentd config exists
        - name: ekscpfluentdconfigdir
          mountPath: {{ .Values.fluentd.path }}
          readOnly: true
        {{- if .Values.extraVolumeMounts }}
        {{- toYaml .Values.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- end }}
      terminationGracePeriodSeconds: 30
      volumes:
      {{- if .Values.extraVolumes }}
      {{- toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
      # RW mount to store tail plugin output plugin buffer and logs
      - name: basedir
        hostPath:
          path: {{ .Values.fluentd.baseDir }}
      {{- if eq $authtype "config" }}
      # Mount directory where oci config exists
      - name: ociconfigdir
        projected:
          sources:
              - secret:
                  name: {{ $resourceNamePrefix }}-oci-config
      {{- end }}
      # Mount directory where fluentd ekscp config exists
      {{- if $enableEKSCPLogs }}
      - name: ekscpfluentdconfigdir
        configMap:
          # Provide the name of the ConfigMap to mount.
          name: {{ $resourceNamePrefix }}-ekscp-logs
      {{- end }}
