oci-onm-logan:  
  fluentd:
     customLogs:
       mushop-orders:
           path: /var/log/containers/mushop-orders-*.log
           ociLALogSourceName: "mushop-orders-app"
           multilineStartRegExp: /^\d{4}-\d{2}-\d{2}\s*\d{2}:\d{2}:\d{2}.\d{3}/
           isContainerLog: true
       mushop-api:
           path: /var/log/containers/mushop-api-*.log
           ociLALogSourceName: "mushop api logs"
           multilineStartRegExp: /^::\w{4}:\d{2}.\d{3}.\d{1}.\d{1}\s*-\s*-\s*\[\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}\s*\+\d{4}\]/
           isContainerLog: true
       mushop-assets:
           path: /var/log/containers/mushop-assets-*.log
           ociLALogSourceName: "mushop-assets logs"
           isContainerLog: true
       mushop-carts:
           path: /var/log/containers/mushop-carts-*.log
           ociLALogSourceName: "mushop-carts logs"
           multilineStartRegExp: /^\w+\s*\d{2}\,\s*\d{4}\s\d{1,2}:\d{2}:\d{2}/
           isContainerLog: true
       mushop-catalogue:
           path: /var/log/containers/mushop-catalogue-*.log
           ociLALogSourceName: "mushop-catalogue logs"
           isContainerLog: true
       mushop-edge:
           path: /var/log/containers/mushop-edge-*.log
           ociLALogSourceName: "mushop-edge logs"
           isContainerLog: true
       mushop-nats:
           path: /var/log/containers/mushop-nats-*.log
           ociLALogSourceName: "mushop-nats logs"
           isContainerLog: true
       mushop-payment:
           path: /var/log/containers/mushop-payment-*.log
           ociLALogSourceName: "mushop-payment logs"
           isContainerLog: true
       mushop-session:
           path: /var/log/containers/mushop-session-*.log
           ociLALogSourceName: "mushop-session logs"
           multilineStartRegExp: /^\d+:\w\s*\d{2}\s*\w{3}\s*\d{4}\s*\d{2}:\d{2}:\d{2}.\d{3}/
           isContainerLog: true
       mushop-storefront:
           path: /var/log/containers/mushop-storefront-*.log
           ociLALogSourceName: "mushop-storefront logs"
           isContainerLog: true
       mushop-user:
           path: /var/log/containers/mushop-user-*.log
           ociLALogSourceName: "mushop-user logs"
           isContainerLog: true
       mushop-utils:
           path: /var/log/containers/mushop-utils-*.log
           ociLALogSourceName: "mushop-utils-ingress-nginx-controller logs"
           isContainerLog: true
       wordpress-access:
           path: /var/log/containers/wordpress-*.log
           ociLALogSourceName: "WordPress Access Logs"
           isContainerLog: true